In [1]:
import sqlite3

In [2]:
db=sqlite3.connect('hospital_database.db')

In [3]:
cur=db.cursor()

In [4]:
cur.execute("create table hospital(age int primary key,name text,charges int)")

In [5]:
cur.execute("insert into hospital (age,name,charges) values(25,'priya',5000)")
db.commit()

In [9]:
print(cur.rowcount,"Record(s) inserted")

-1 Record(s) inserted

In [6]:
results=cur.execute("select * from hospital")
for i in results:
    print(i)

(25, 'priya', 5000)

In [10]:
cur.execute("insert into hospital (age,name,charges) values(24,'kiran',6000)")
db.commit()

In [11]:
print(cur.rowcount,"Record(s) inserted")

1 Record(s) inserted

In [12]:
results=cur.execute("select * from hospital")
for i in results:
    print(i)

(25, 'priya', 5000)
(24, 'kiran', 6000)

In [14]:
cur.execute("insert into hospital values (27,'hari',7000), (28,'yogi',8000)")
db.commit()

In [15]:
print(cur.rowcount,"Record(s) inserted")

2 Record(s) inserted

In [16]:
results=cur.execute("select * from hospital")
for i in results:
    print(i)

(25, 'priya', 5000)
(24, 'kiran', 6000)
(27, 'hari', 7000)
(28, 'yogi', 8000)

# Accessing the data stored in SQLite using Python

In [17]:
results=cur.execute("select * from hospital")
for i in results:
    print(i)

(25, 'priya', 5000)
(24, 'kiran', 6000)
(27, 'hari', 7000)
(28, 'yogi', 8000)

In [18]:
results=cur.execute("select age,name from hospital")
for i in results:
    print(i)

(25, 'priya')
(24, 'kiran')
(27, 'hari')
(28, 'yogi')

In [19]:
results=cur.execute("select name from hospital")
for i in results:
    print(i)

('priya',)
('kiran',)
('hari',)
('yogi',)

In [20]:
results=cur.execute("select * from hospital where age=28")
for i in results:
    print(i)

(28, 'yogi', 8000)

In [21]:
results=cur.execute("select * from hospital limit 3")
for i in results:
    print(i)

(25, 'priya', 5000)
(24, 'kiran', 6000)
(27, 'hari', 7000)

In [22]:
results=cur.execute("select * from hospital where age>24 and age<29")
for i in results:
    print(i)

(25, 'priya', 5000)
(27, 'hari', 7000)
(28, 'yogi', 8000)

In [23]:
results=cur.execute("select * from hospital limit 3")
results.fetchall()

[(25, 'priya', 5000), (24, 'kiran', 6000), (27, 'hari', 7000)]

In [24]:
results=cur.execute("select * from hospital order by name asc")
for i in results:
    print(i)

(27, 'hari', 7000)
(24, 'kiran', 6000)
(25, 'priya', 5000)
(28, 'yogi', 8000)

In [25]:
results=cur.execute("select * from hospital order by name desc")
for i in results:
    print(i)

(28, 'yogi', 8000)
(25, 'priya', 5000)
(24, 'kiran', 6000)
(27, 'hari', 7000)

In [27]:
results=cur.execute("select * from hospital where name='yogi' and charges=5000 ")
for i in results:
    print(i)

In [28]:
results=cur.execute("select * from hospital where name='yogi' and charges=8000 ")
for i in results:
    print(i)

(28, 'yogi', 8000)

In [29]:
results=cur.execute("select * from hospital where name='yogi' or charges=8000 ")
for i in results:
    print(i)

(28, 'yogi', 8000)

In [30]:
results=cur.execute("select * from hospital where name='yogi' or charges=5000 ")
for i in results:
    print(i)

(25, 'priya', 5000)
(28, 'yogi', 8000)

In [31]:
results=cur.execute("select * from hospital where age=24 or charges=6000 ")
for i in results:
    print(i)

(24, 'kiran', 6000)

In [32]:
results=cur.execute("select * from hospital where age=27 or charges=6000 ")
for i in results:
    print(i)

(24, 'kiran', 6000)
(27, 'hari', 7000)

In [34]:
results=cur.execute("select min(age) from hospital  ")
for i in results:
    print(i)

(24,)

In [35]:
results=cur.execute("select max(age) from hospital  ")
for i in results:
    print(i)

(28,)

In [36]:
results=cur.execute("select avg(age) from hospital  ")
for i in results:
    print(i)

(26.0,)

In [37]:
results=cur.execute("select sum(charges) from hospital  ")
for i in results:
    print(i)

(26000,)

In [38]:
results=cur.execute("select sum(charges) from hospital  ")
results.fetchall()

[(26000,)]

In [39]:
results=cur.execute("select name from hospital where age between 25 and 29  ")
for i in results:
    print(i)

('priya',)
('hari',)
('yogi',)

In [40]:
results=cur.execute("select count(name) from hospital  ")
for i in results:
    print(i)

(4,)

In [41]:
results=cur.execute("select * from hospital where age is null ")
for i in results:
    print(i)