# Anonymous Functions Lamba Functions

In [ ]:
# For simple mathematical expressions.Lambda Functions can also helps as anonymous function where they don't require any name. Helpful in performing small tasks with less code.
 The expression is composed of 
    keyword : lambda
    A bound vaeriable : x
    A body:x*2

In [1]:
test = lambda x:x*2;
test(5)

10

In [2]:
test(8)

16

In [3]:
test1add= lambda x,y :x+y;
test1add(3,4)

7

In [4]:
m= lambda x,y,z : x+y+z;
m(2,5,6)

13

In [5]:
#find square
square= lambda x: x**2;
square(4)

16

In [6]:
square= lambda x: x**2
square(2)

4

In [8]:
#find the squareroot

squareroot= lambda x: x**(1/2)
squareroot(16)

4.0

In [10]:
squareroot= lambda x: x**(1/2)
squareroot(64)

8.0

In [11]:
squareroot(25)

5.0

In [12]:
#cube
cube= lambda x: x**3
cube(2)

8

In [13]:
cube(3)

27

In [14]:
#cuberoot
curoot= lambda x: x**(1/3)
curoot(27)

3.0

In [17]:
curoot(125)

5.0

In [19]:
addvar= lambda arg1,arg2: arg1 + arg2;
#now you can call sum as a function
print('Value of total',(4,5))
print("value of total",(10,6))

Value of total (4, 5)
value of total (10, 6)

In [20]:
#converting temperature in fahrenhiet
def fahrenheit(T):
    return((9/5)*T + 32)

In [21]:
f= fahrenheit(35)
f

95.0

In [25]:
#converting temperature in celcius

def celcius(T):
    return ((5)/9)*(T-32)

In [26]:
c= celcius(95)
c

35.0

In [28]:
#lambda with fahrenheit.
F= lambda x: ((9)/5)* x +32;
F(38.4)

101.12

map in lambda......> it applies on list

In [29]:
mylist= [1,2,3,4,5]
#map(lambda x : x*2,mylist)

In [30]:
list(map(lambda x: x*2,mylist))

[2, 4, 6, 8, 10]

In [31]:
c= [35.5,36.5,37.3,38.5, 39]

In [32]:
F=list(map(lambda x:((9)/5)* x + 32,c))
print(F)

[95.9, 97.7, 99.14, 101.3, 102.2]

In [33]:
C= list(map(lambda x:((5)/9)* (x-32), F))
print (C)

[35.50000000000001, 36.5, 37.300000000000004, 38.5, 39.0]

In [34]:
newClist= [round(x,2) for x in C]
newClist

[35.5, 36.5, 37.3, 38.5, 39.0]

In [36]:
newlist =['%.2f' % j for j in C]
newlist

['35.50', '36.50', '37.30', '38.50', '39.00']

# Filters in Lambda

In [37]:
mylist=[1,2,3,4,5,6]
list(filter(lambda x: x>2,mylist))

[3, 4, 5, 6]

In [38]:
even= lambda x: x%2==0
list(filter(even,range(11)))

[0, 2, 4, 6, 8, 10]

In [39]:
#you can do it be list comprehension
[x for x in range(11) if x%2==0]

[0, 2, 4, 6, 8, 10]