In [1]:
import sqlite3

In [2]:
#First connection object
db=sqlite3.connect("student_databse.db")

In [3]:
#create cursor object from connection

cur=db.cursor()

In [4]:
results=cur.execute("select * from student")
for row in results:
    print(row)

(1, 'Ram', 90)
(2, 'Shalu', 100)
(3, 'Bulbul', 5)
(4, 'Abhilash', 10)
(5, 'Siddharth', 99)
(6, 'Mummy', 40)